body{
  font-family: "Open Sans", sans-serif;
  color: rgb(74, 74, 74);
}

.container{
  width: 340px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

header{
  width: 340px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

header p{
  font-size: 18px;
  color: rgb(74, 74, 74);  
}

aside{
  width: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
}

aside #cards{
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  padding-left: 5px;
}

aside #cards div{
  width: 240px;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5px;
}

aside #payments{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#payments button:nth-child(1){
  width: 66px;
  height: 30px;
  padding: 0;
  box-sizing: border-box;   
}

#payments button{
  width: 65px;
  height: 50px;
  padding: 0;
  box-sizing: border-box;   
  border-color: rgb(204, 204, 204);
  border-radius: 4px; 
}

#payments button img{
  width: 100%;
  height: 100%;
  margin: 0;  
}

section{
  width: 300px;  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center; 
  padding-top: 5px;
  background-color: rgb(249, 249, 249);
}

section .container-input{
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;  
  margin-bottom: 10px;
}

section .container-input #save-card{
  width: 273px;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  background-color: white;
  margin-bottom: 20px;
  border-color: rgb(236, 236, 236);
}

section .container-input #save-card label{
  width: 260px;
}

section .container-input #save-card #save{
  width: 40px;
  height: 40px;
  padding: 0;
  outline: 0;
  margin-top: 20px;
}

section .container-input input{
  width: 100%; 
  height: 25px; 
  border-color: rgb(236, 236, 236);
  border-radius: 2px;
}

section .container-input div{
  width: 80%;
  display: flex;   
  justify-content: space-between;
  align-items: flex-start; 
}

section .container-input div div{
  width: 40%;
  display: flex;
  flex-direction: column;  
}

section .container-input div div input{
  height: 25px;
  border-radius: 2px;  
}

section .container-input a{
  width: 275px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
  background-color: rgb(141, 122, 255);
}

section .container-input a:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

section .container-input span{
  width: 275px;
  text-align: center;
  color: rgb(155, 155, 155);
}

section .container-input:nth-child(5){
  display: none;
} 

section .container-input:nth-child(7){
  display: none;
} 

section .container-input:nth-child(8){
  display: none;
  text-align: center;
}

section .master{
  width: 90%;
  font-size: 13px;
}

section .master #space{
  margin-top: 5px; 
}

section .master div{
  width: 100%;
  margin-top: 15px;
}